.modalWrap {
  position: fixed;
  top:0;
  right: 0;
  left:0;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 5;
}
.modal {
  position: fixed;
  width: 960px;
  max-width: 95vw;
  height: 95vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 20px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  font-size: 12px;
  line-height: 14px;
  z-index: 10;
  overflow-y: auto;
}
.modalTitle {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.modalContent {
  margin: 20px auto;
}
.modalContent__media{
  display: block;
  box-sizing: border-box;
  max-width: 90%;
  height: auto;
  margin: 20px auto;
}
.cross {
  position: absolute;
  top: 30px;
  right: 26px;
}
.ulicons {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-top: 1px solid var(--greyF4);
}

@media all and(min-width: 1023px) {
  .modal {
  padding: 50px 60px;
  }
}