.textContent {
  padding: 22px 20px 10px;
}
.metaData {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.postLink {
  margin: 7px 0;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #333333;
}
.postLink:focus,
.postLink:hover {
  color: var(--orange);
}

@media all and (min-width: 1024px) {
  .textContent {
    display: flex;
    flex-direction: column;
    order: 1;
    align-self: start;
    padding-top: 5px;
    padding-left: 37px;
  }
  .postLink {
    font-size: 20px;
    line-height: 23px;
  }
  .metaData {
    order: 2;
  }
}
@media all and (min-width: 1400px) {
  .textContent {
    padding-top: 8px;
    font-size: 20px;
    line-height: 23px;
  }
}
@media all and (min-width: 1540px) {
  .textContent {
    flex-basis: 672px;
  }
  .postLink::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
