.card {
  margin-top: 20px;
  background-color: var(--white);
  border-radius: 7px;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  justify-content: center;
  
}
.card > * {
  flex: 1 1 100%;
}

@media all and (min-width: 1024px) {
  .card {
    box-sizing: border-box;
    flex-flow: row nowrap;
    padding: 37px;
    margin-top: 0;
    border: 1px solid transparent;
  }
  .card:focus,
  .card:hover{
    border: 1px solid var(--greyD9);
  }
  .card:hover h2 a,
  .card:focus h2 a {
    color: var(--orange);
  }
}
@media all and (min-width: 1400px) {
  .card {
    padding-right: 74px;
  }

}
