.card {
  margin-top: 20px;
  background-color: var(--white);
  border-radius: 7px;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}
.card > * {
  flex: 1 1 100%;
}

@media all and (min-width: 1024px) {
  .card {
    flex-flow: row nowrap;
    align-items: center;
    padding: 37px;
  }
}
@media all and (min-width: 1540px) {
  .card:hover,
  .card:focus {
    outline: 1px solid var(--greyD9);
  }
  .card:hover h2 a,
  .card:focus h2 a {
    color: var(--orange);
  }
}
