.container {
  width: 100%;
  flex: 1 1 0%;
}

.container:focus {
  outline: none;
}

.listContainer {
  position: relative;
}

.list {
  position: absolute;
  top: 30px;
  right: 0px;
  width: 157px;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}
@media all and (min-width: 1024px) {
  .list {
    right: -80px;
  }
}
