.dropdownmenuWrap {
  position: fixed;
  top:0;
  right: 0;
  left:0;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 5;
}
.dropdownmenu {
  
  width: 157px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  z-index: 20;
}
.btnClose {
  width: 100%;
  height: 38px;
  background-color: var(--greyD9);
  border-radius: 0px 0px 3px 3px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: var(--grey66);
}
.btnClose:focus,
.btnClose:hover {
  outline: none;
  color: var(--orange);
}

.cardmenulist li:nth-child(2n),
.cardmenulist li:first-child {
  display: none;
}
@media all and (min-width: 1024px) {

  .cardmenulist li:nth-child(2n),
  .cardmenulist li:first-child {
    display: flex;
  }
  .btnClose {
    font-size: 14px;
    line-height: 16px;
  }
}
@media all and (min-width: 1400px) {

  .btnClose {
    display: none;
  }
}
