.cardmenu {
  position: absolute;
  top: 7%;
  right: 17px;
}

.cardmenuButton {
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 31px;
  background: transparent;
  border: 0;
}
.cardmenuButton:focus,
.cardmenuButton:active,
.cardmenuButton:hover {
  outline: none;
  background: rgba(51, 51, 51, 0.1);
}
.btnClose {
  width: 100%;
  height: 38px;
  background-color: var(--greyD9);
  border-radius: 0px 0px 3px 3px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: var(--grey666);
}
@media all and (min-width: 1024px) {
  .cardmenuButton {
    transform: rotate(90deg);
  }
  .cardmenu {
    right: 88px;
    top:40%;
  }
}
