.controls {
  padding: 5px 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  color: var(--greyC4);
}
.actions {
  display: flex;
}

@media all and (min-width: 1540px) {
  .controls {
    position: relative;
  }
}
@media all and (min-width: 1024px) {
  .controls {
    order: 3;
    flex: 0 0;
    padding: 0;
  }
  .actions {
    display: none;
  }
}
