.preview {
  max-width: 320px;
  max-height: 178px;
}
.previewImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 3px;
}

@media all and (min-width: 1024px) {
  .preview {
    max-width: 190px;
    max-height: 107px;
  }
}